<div *ngIf="sucess" class="alert alert-success">¡Registro enviado correctamente!</div>
<div *ngIf="error.length > 0" class="alert alert-danger">Error: {{error}}</div>
<form [formGroup]="registerForm">
  <div class="mb-3">
    <div
      *ngIf="name.invalid && (name.dirty || name.touched)"
      class="alert alert-danger"
    >
      <p *ngIf="name.errors.required">El nombre es obligatorio</p>
      <p *ngIf="name.errors.pattern">El nombre no es válido.</p>
    </div>
    <label for="name" class="form-label">Nombre</label>
    <input type="text" id="name" formControlName="name" class="form-control" />
  </div>
  <div class="mb-3">
    <div
      *ngIf="family_name.invalid && (family_name.dirty || family_name.touched)"
      class="alert alert-danger"
    >
      <p *ngIf="family_name.errors.required">El apellido es obligatorio</p>
      <p *ngIf="family_name.errors.pattern">El apellido no es válido.</p>
    </div>
    <label for="family_name" class="form-label">Apellido</label>
    <input
      type="text"
      id="family_name"
      formControlName="family_name"
      class="form-control"
    />
  </div>
  <div class="mb-3">
    <div
      *ngIf="email.invalid && (email.dirty || email.touched)"
      class="alert alert-danger"
    >
      <p *ngIf="email.errors">El email no es valido</p>
    </div>
    <label for="email" class="form-label">Email</label>
    <input
      type="email"
      id="email"
      formControlName="email"
      class="form-control"
    />
  </div>
  <div class="mb-3">
    <div
      *ngIf="phone.invalid && (phone.dirty || phone.touched)"
      class="alert alert-danger"
    >
      <p *ngIf="phone.errors.maxlength">
        El Teléfono no puede tener mas de 10 caracteres.
      </p>
      <p *ngIf="phone.errors.pattern">
        El Teléfono solo debe contener numeros.
      </p>
    </div>
    <label for="phone" class="form-label">Teléfono</label>
    <input type="number" id="phone" formControlName="phone" class="form-control" />
  </div>
  <div class="mb-3">
    <label for="program" class="form-label">Programa de interés</label>
    <select id="program" formControlName="program" class="form-control">
      <option *ngFor="let option of programsList" value="{{ option.id }}">
        {{ option.name }}
      </option>
    </select>
  </div>
  <div class="mb-3">
    <label for="comment" class="form-label">Comentario</label>
    <input
      type="text"
      id="comment"
      formControlName="comment"
      class="form-control"
    />
  </div>
  <button
    [disabled]="!registerForm.valid"
    (click)="register()"
    type="submit"
    class="btn btn-primary"
  >
    Enviar
  </button>
</form>
